# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. TensorFlow 
3. Apache Spark

| Data Science Tools |
|--------------------|
| SQL server |
| Jupyter notebooks |
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
x = 3
y = 5
z = x * y
z

15

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

***Objectives:***
* List popular languages for Data Science
* List popular tools used in Data Science
* List open sources used by Data Scientists

## Author
Sheema Sultana